.modal-background {
  display: block;
  position: fixed;
  top: 25%;
  left: 10%;
  width: 75%;
  height: 50%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.modal-main {
  position: fixed;
  background: white;
  width: 50%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  border: 6px solid black;
}

.modal-main button.close {
  font-size: 2em;
  background: none;
  border: none;
  position: absolute;
  top: 0em;
  right: 0.2em;
}

.image-container {
  position: static;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.image-container img {
 width: 60%;
 height: auto;
}